# dependencies
node_modules/

# production build
build/

# misc env (frontend only if used)
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*# dependencies
node_modules/

# production build
build/

# misc env (frontend only if used)
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*